MONGODB_URI=mongodb://localhost:27017/test
MONGOLAB_URI=mongodb://localhost:27017/test

SESSION_SECRET=Your Session Secret goes here

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

SENDGRID_USER=hslogin
SENDGRID_PASSWORD=hspassword00

FACEBOOK_ID=1834627153474725
FACEBOOK_SECRET=f6ed9398de1eca56ec473400e0661ad9

TWITTER_KEY=6NNBDyJ2TavL407A3lWxPFKBI
TWITTER_SECRET=ZHaYyK3DQCqv49Z9ofsYdqiUgeoICyh6uoBgFfu7OeYC7wTQKa

GOOGLE_ID=981651467615-cq2ebm4ovr82ioj3f0s32e61mhtjofub.apps.googleusercontent.com
GOOGLE_SECRET=caMOxne53f9ICYQhs8PrKRpy

VK_ID=5930112
VK_APP_SECRET=K8SgUI5z5JZvjSHgGWKK