extends layout

block content
  h1 Thoughts Cloud
  p.lead Add your thought now!
  hr
  .row
    form.form-horizontal(method='POST' action="/thought/add")
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='col-sm-2 control-label', for='thought') Though
        .col-sm-8
          input.form-control(type='text', name='thought', id='thought', autofocus=true)
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Add

      if user
        .form-group
          label.col-sm-2.control-label(for='thoughts') Your Thoughts
          .col-sm-8
            ul.list-group(id='thoughts')
              each thought in user.thoughts
                li.list-group-item= thought